<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../Week-07/js/sign-up.js"></script>
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="icon" href="/assets/Img/LOGO-RR 3logo-rr.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <head>
        <header>
                <p>
                Mega Rocket SA
                </p>
        </header>
    </head>
    <a href="./index.html"><h6>
        back to landing page
    </h6></a>
    <main>
        <h2>
            Sign Up
        </h2>
        <div class="sign-up-container">
            <div class="Column-Container">
                <div>
                    <h4>
                        Name
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Document number
                    </h4>
                    <input type="number" id="document" name="document" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Phone Number
                    </h4>
                    <input type="number" id="phone" name="phone" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        City
                    </h4>
                    <input type="text" id="city" name="city" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Email
                    </h4>
                    <input type="text" id="email" name="email" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Repeat Password
                    </h4>
                    <input type="password" id="repeatPassword" name="repeatPassword" placeholder="" required>
                    <p></p>
                </div>
            </div>
            <div class="Column-Container">
                <div>
                    <h4>
                        Last Name
                    </h4>
                    <input type="text" id="lastname" name="lastname" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Birth date
                    </h4>
                    <input type="date" id="birthdate" name="birthdate" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Address
                    </h4>
                    <input type="text" id="adress" name="adress" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Postal Code
                    </h4>
                    <input type="number" id="postalcode" name="postalcode" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <h4>
                        Password
                    </h4>
                    <input type="password" id="password" name="password" placeholder="" required>
                    <p></p>
                </div>
                <div>
                    <button type='submit' id='signUp' name="submit">
                            Register
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>